#logosHolder:before,
#logosHolder:after {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  content: "";
  z-index: 2;
}

#logosHolder:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

#logosHolder:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
